body {
   background: #F6F6F6;
}

h2 {
   font-size: 1.1em;
}

header h1 {
   color: #FFFFFF;
   text-align: center;
}

h1, h2, h3, h4, h5, h6 {
   color: #2B2B2B;
   margin: 0;
}

header {
   background-color: #ff9966;
   margin-bottom: 1em;
   padding: 1em;
}

.category-edit-container {
   visibility: hidden;
}

#category-list, #item-list {
   list-style: none;
}

a {
  color: white;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: white; }
  a img {
    border: none; 
}

a.button {
   width: 20em;
}


.top-bar {
   background-color: #ff9966;
}

.interact-button {
   width: 10em;
}

.red-button:hover, .red-button:focus {
   background-color: #990000;
}

.red-button {
   background: #cc0000;
}



.button-list {
   list-style: none;
   margin-left: 0;
}

.category-link {
   color: black;
}

.category-link:hover {
  color: gray;
}

.item-image {
  max-width: 200px;
  max-height: 200px;
}

.category-image {
  max-width: 300px;
  max-height: 300px;
}

.flash {
  text-align: center;
}
