{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="row">

    <div class="large-6 medium-6 small-8 small-centered medium-centered large-centered columns">
    <ul id="category-list" class="button-list">
    {% for category in categories %}
      <li>
        <a 
          href="{{url_for('show_category', category_id=category.id)}}"
          class="button"
        >
          {{category.name}}
        </a>
      </li>
      
    {% endfor %}
      <li>
        <a
          href="{{url_for('new_category')}}"
          class="button"
        >
          <i class="fa fa-plus"></i>
          Add new category
        </a>
      </li>
    </ul>
    </div>


  </div>
{% endblock %}
