{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="small-12 large-6 medium-6 columns large-centered medium-centered small-centered">
      <h1>{{category.name}}</h1>
      {% if category.picture %}
      <img class="category-image" src="{{category.picture}}" />
      {% endif %}
      <hr>
      <ul id="item-list" class="large-centered medium-centered small-centered button-list">
      {% for item in items %}
        <li>
        <a 
          href="{{url_for('show_item', category_id = category.id, item_id = item.id)}}"
          class="button">
          {{item.name}}
        </a>
        </li>
      {% endfor %}
      <li>
        <a
          href="{{url_for('new_item', category_id=category.id)}}"
          class="button">
          <i class="fa fa-plus"></i>
          New Item
        </a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns large-centered medium-centered small-centered background-link">
      <ul class="button-list">
        <li>
          <a href="{{url_for('edit_category', category_id=category.id)}}">
            <button class="interact-button">
              Edit Category
            </button>
          </a>
        </li>
        <li>
          <a href="{{url_for('delete_category', category_id=category.id)}}">
            <button class="red-button interact-button">
              Delete category
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}



