{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <form action="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" method="POST">
  <div class="row">
    <div class="small-12 columns">
      <h1>Editing {{item.name}}</h1>
      <label>Edit Name
      <input type="text" name="name" value="{{item.name}}">
      </label>
      <label>Edit Description
      <textarea name="description">{{item.description}}</textarea>
      </label>
      <input class="button" type="submit" value="Submit">
      <a href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}" class="button red-button">Cancel</a>
    </div>
  </div>
  </form>
{% endblock %}
