<header>
<nav class="top-bar">
  <ul class="left">
    <li>
    <a href="{{url_for('show_catalog')}}">
    <button>
      Catalog
    </button>
    </a>
    </li>
  </ul>
  <ul class="right">
      <li>
      {% if 'username' not in session %}
      <a href="{{url_for('show_login')}}">
      <button>
      Click here to log in
      </button>
      </a> 
      {% else %}
      <a href="{{url_for('disconnect')}}"><button>Disconnect</button></a>
      {% endif %}
      </li>
    </ul>
</nav>
</header>
<div class="flash row">
  <div class="small-12 small-centered large-centered medium-centered">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>
<br>