<header>
<nav class="top-bar">
  <ul class="left">
    <li>
    <a href="{{url_for('showCatalog')}}">
    <button>
      Catalog
    </button>
    </a>
    </li>
  </ul>
  <ul class="right">
      <li>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">
      <button>
      Click here to log in
      </button>
      </a> 
      {% else %}
      <a href="{{url_for('disconnect')}}"><button>Disconnect</button></a>
      {% endif %}
      </li>
    </ul>
</nav>
</header>