<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="{{url_for('static', filename = 'js/vendor/modernizr.js')}}"></script>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="{{url_for('static', filename ='js/vendor/jquery.js')}}"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>