{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="small-12 columns">
      <a href="{{url_for('showCategory', category_id=category.id)}}" class="category-link">
      {{category.name}}
      </a>
      <hr>
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-list">

      <li>
      <a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">
      <button class="interact-button">
      Edit item
      </button>
      </a>
      </li>
      <li>
       <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}">
       <button class="interact-button red-button"> 
         Delete Item
       </button>
       </a>
      </li>
      </ul>
    </div>
  </div>




{% endblock %}