{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="small-12 columns">
      <a href="{{url_for('show_category', category_id=category.id)}}">
      <h1 class="category-link">
      {{category.name}}
      </h1>
      </a>
      <hr>
      <h4>{{item.name}}</h4>
      {% if item.picture %}
      <img class="item-image" src="{{item.picture}}" />
      {% endif %}
      <p>{{item.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-list">

      <li>
      <a href="{{url_for('edit_item', category_id=category.id, item_id=item.id)}}">
      <button class="interact-button">
      Edit item
      </button>
      </a>
      </li>
      <li>
       <a href="{{url_for('delete_item', category_id=category.id, item_id=item.id)}}">
       <button class="interact-button red-button"> 
         Delete Item
       </button>
       </a>
      </li>
      </ul>
    </div>
  </div>




{% endblock %}