{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{category.name}}</h2>
      <hr>
    </div>
  </div>
  <form action="{{url_for('newItem', category_id=category.id)}}" method="POST">
    <div class="row">
      <div class="small-12 columns">
        <label>Item name
        <input type="text" name="name" placeholder="Type in a name">
        </label>
        <label>Item Description
        <textarea name="description" placeholder="Type in a description"></textarea>
        </label>
        <input type="submit" class="button" value="Submit">
        <a href="{{url_for('showCategory', category_id=category.id)}}" class="button red-button">Cancel</a>
      </div>
    </div>
  </form>


{% endblock %}