{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div class="small-12 large-6 medium-6 columns large-centered medium-centered small-centered">
      <h2>{{category.name}}</h2>
      <hr>
      <ul id="item-list" class="large-centered medium-centered small-centered button-list">
      {% for item in items %}
        <li>
        <a 
          href="{{url_for('show_item', category_id = category.id, item_id = item.id)}}"
          class="button">
          {{item.name}}
        </a>
        </li>
      {% endfor %}
    </div>
  </div>
{% endblock %}



