{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="row">

    <div class="large-6 medium-6 small-8 small-centered medium-centered large-centered columns">
    <ul id="category-list" class="button-list">
    {% for category in categories %}
      <li>
        <a 
          href="{{url_for('showCategory', category_id=category.id)}}"
          class="button"
        >
          {{category.name}}
        </a>
      </li>
      
    {% endfor %}
    </ul>
    </div>


  </div>
{% endblock %}
